.trade-detail-body {
  position: relative;
  align-items: center;
  margin: 20px;
  height: 100px;
  margin-bottom: 15%;
}
.trade-detail-product {
  display: flex;
  margin-bottom: 10px;
}
.trade-detail-product > img {
  width: 100px;
  height: 100px;
  border-radius: 30%;
  margin-right: 30px;
}
.trade-cancel-button {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #c5d3cc;
  background: white;
  margin-bottom: 10px;
}
.trade-item-name,
.total {
  font-size: x-large;
  font-weight: bold;
}
.trade-detail-list {
  display: flex;
  margin-bottom: 10px;
}
.trade-detail-info {
  font-size: medium;
  margin: 2px;
}
.trade-detail-title {
  width: 100px;
}
.total {
  width: 100px;
  margin-top: 5px;
}
/* .price {
} */
