.mypage {
  position: relative;
  height: 100%;
}

.mypage-profile {
  display: flex;
  align-items: center;
  margin: 20px;
}
.mypage-profile a,
.mypage-option img {
  margin-left: auto;
}
.mypage-user-icon {
  width: 100px;
  border-radius: 30%;
  margin-right: 30px;
}
.mypage-profile-desc h4 {
  color: #424242;
  margin-bottom: 8px;
  font-size: 18px;
}

.mypage-profile-desc span {
  color: #7d7d7d;
  font-size: 14px;
}
.mypage-useredit {
  margin: 10px 20px 30px 20px;
  width: calc(100% - 40px);
  background-color: white;
  border: 1px solid #e2e2e2;
  height: 40px;
  font-weight: 500;
  cursor: pointer;
}
.mypage-wallet {
  position: relative;
  background-color: #497c5f;
  margin: 0 20px;
  height: 180px;
  border-radius: 24px;
}

.mypage-wallet-create {
  position: relative;
  top: 10px;
  left: 10px;
  margin: 0 20px 0 0;
  height: 160px;
  border: 3px dashed white;
  border-radius: 24px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
}

.mypage-wallet-info {
  position: relative;
  margin: 0 5px 0 0;
  height: 130px;
  border-radius: 24px;
  padding: 20px;
  color: white;
  font-weight: bold;
}

.mypage-wallet-info :nth-child(1) {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.mypage-wallet-info div button {
  padding: 3px 14px;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  font-size: 14px !important;
  cursor: pointer;
}
.mypage-wallet-info :nth-child(2) {
  font-size: 40px;
  margin: 24px 0 50px 0;
}
.mypage-wallet-info :nth-child(3) {
  background-color: #f5f5f5;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  width: 100%;
  opacity: 0.6;
}

.mypage-user-info {
  display: flex;
  justify-content: space-evenly;
}

.mypage-user-info {
  text-align: center;
  margin: 40px 0 20px 0;
}

.user-info p {
  margin: 5px 0;
  font-weight: 500;
}
.user-info span {
  color: #497c5f;
}

.mypage-options {
  margin-bottom: 60px;
}
.mypage-option {
  margin: 0 20px;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  padding: 18px 0;
  align-items: center;
}

.mypage-option p {
  margin-bottom: 0;
  font-weight: bold;
}

.charge-modal-input {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.charge-modal-input span {
  width: 10%;
}
.charge-modal-input input {
  margin: 0 20px !important;
}
