/* SearchPlace.js*/
.title {
  text-align: center;
  margin-top: 15px;
}

.searchBar {
  /* Rectangle 58 */
  display: flex;
  width: 319px;
  height: 32px;
  margin: auto;
  background: #ffffff;
  border: 1px solid #c5d3cc;
  box-sizing: border-box;
  border-radius: 21px;
}

.set-address-div {
  display: flex;
  flex-direction: column;
}

.set-address-button {
  display: flex;
  margin: auto !important;
  background-color: #497c5f !important;
  color: white !important;
  border-radius: 24px !important;
  width: 200px;
  height: 35px;
  font-weight: 500 !important;
}

/* Location.js*/

.pagination {
  text-align: center;
  font-size: large;
}

.result-list {
  margin-left: 25px;
  margin-right: 25px;
}
