.title {
  text-align: center;
}

.searchBar {
  /* Rectangle 58 */
  display: flex;
  width: 319px;
  height: 32px;
  margin: auto;
  background: #ffffff;
  border: 1px solid #c5d3cc;
  box-sizing: border-box;
  border-radius: 21px;
}

.pagination {
  text-align: center;
}

.set-address-button {
  display: flex;
  margin: auto;
  background-color: #497c5f !important;
  color: white !important;
  border-radius: 24px !important;
  height: 35px;
  max-width: 40%;
  font-weight: 500 !important;
}
